@page "/Projetos"
@using LDC.Data;
@using LDC.Services;
@using Microsoft.UI.Xaml;

@inject LinksApisService linksApisService

<h1>Apis</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Senha</th>
                <th>Chave</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in links)
            {
                <tr>
                    <td>@link.Tipo</td>
                    <td>@link.NomeApi</td>
                    <td>@link.Usuario</td>
                    <td>@link.Senha</td>
                    <td>@link.Chave</td>
                    <button class="btn btn-primary" @onclick="() => IncrementCount(link.Tipo)" value="@link.Tipo">Click me</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<LinksApis> links;

    protected override async Task OnInitializedAsync()
    {
        links = linksApisService.MontarLinks();
    }

    private void IncrementCount(string tipo)
    {
        var teste = "teste";
    }
}
